* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  padding-top: 140px;
  background: #F5EFEF;
}

.main .title-film {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: #F5EFEF;
}

.movie-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid black;
  padding-top: 40px;
  margin-bottom: 40px;
}

.movie-container img {
  z-index: -1;
  height: auto;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  opacity: 1;
}

.movie-container .productContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.movie-container .productContainer .orderBtn {
  display: block;
  width: 100%;
  border: none;
  background-color: #931A25;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.movie-container .productContainer .orderBtn .anchor,
.movie-container .productContainer .orderBtn .anchor:link,
.movie-container .productContainer .orderBtn .anchor:visited {
  color: #fff;
  text-decoration: none;
}

.movie-container .productContainer .card {
  display: inline-block;
}

.movie-container .productContainer .text {
  text-align: center;
}

.movie-container .productContainer p {
  color: rgba(0, 0, 0, 0.7);
}

.movie-container .productContainer h3 {
  color: #252525;
  text-transform: capitalize;
  padding: 8px 0 0;
  margin: 0;
}

.movie-container .productContainer h4 {
  color: #252525;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.btn-container .filter-btn,
.btn-container .selector {
  display: block;
  width: 200px;
  margin: 10px;
  border: none;
  background-color: #343434;
  padding: 8px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.btn-container .filter-btn .anchor,
.btn-container .filter-btn .anchor:link,
.btn-container .filter-btn .anchor:visited,
.btn-container .selector .anchor,
.btn-container .selector .anchor:link,
.btn-container .selector .anchor:visited {
  color: #fff;
  text-decoration: none;
}

.btn-container .filter-btn:focus,
.btn-container .selector:focus {
  background-color: #931A25;
}

.btn-container .selector {
  background-color: #931A25;
  outline: none;
}

.btn-container .selector option {
  background-color: #343434;
}
