* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 16px;
}

button {
  cursor: pointer;
}

.arr-container {
  padding-top: 120px;
  width: 100%;
  height: 500px;
  background-color: #f5efef;
}

.arr-article {
  background-color: goldenrod;
  height: 100vh;
}
