#buy-tickets {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-top: 120px;
}

#buy-tickets h1 {
  text-transform: uppercase;
}

#buy-tickets #payment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

#buy-tickets #tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#buy-tickets #tickets > div {
  border: 1px solid #343434;
  padding: 0.25rem 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1rem;
  width: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#buy-tickets #tickets h3 {
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 0.5rem;
}

#buy-tickets #tickets .amount-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.5rem;
  border-left: 1px solid #343434;
}

#buy-tickets #tickets .amount-selector .minus, #buy-tickets #tickets .amount-selector .plus {
  cursor: pointer;
}

#buy-tickets #tickets .amount-selector .minus {
  padding-right: 0.2rem;
}

#buy-tickets #tickets .amount-selector .plus {
  padding-left: 0.2rem;
}

#buy-tickets #buy-btn {
  margin: 1rem 0;
}

#buy-tickets #buy-btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F5EFEF;
  background-color: #931A25;
  padding: .5rem 1rem;
  font-weight: 700;
}

#buy-tickets #coupon {
  width: 130px;
  margin-left: 1rem;
}

#buy-tickets #coupon > p {
  display: inline;
  text-transform: uppercase;
  cursor: pointer;
}

#buy-tickets #coupon > p span {
  border: 1px solid #343434;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  place-content: center;
}

#buy-tickets #coupon form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: .5s;
  transition: .5s;
}

#buy-tickets #coupon form.display {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#buy-tickets #coupon form input {
  margin-top: .5rem;
  outline: none;
}

#buy-tickets #coupon form button {
  cursor: pointer;
  border: none;
  color: #F5EFEF;
  background-color: #931A25;
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem 1rem;
  outline: none;
}
