html {
  scroll-behavior: smooth;
}

#order {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-top: 140px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#order h1, #order h2 {
  text-transform: uppercase;
}

#order h2 {
  font-size: 30px;
  text-align: center;
  background-color: #343434;
  color: #F5EFEF;
}

#order p {
  font-size: 16px;
}

#order #order-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#order #order-container #buy-tickets #date-container {
  margin-bottom: 1rem;
}

#order #order-container #buy-tickets #date-container #dates .date-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#order #order-container #buy-tickets #date-container #dates .date-row p {
  border: 1px solid #343434;
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: .25rem 0;
}

#order #order-container #buy-tickets #payment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#order #order-container #buy-tickets #tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#order #order-container #buy-tickets #tickets > div {
  border: 1px solid #343434;
  padding: 0.25rem 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1rem;
  width: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#order #order-container #buy-tickets #tickets > div:first-of-type {
  border-top: none;
}

#order #order-container #buy-tickets #tickets h3 {
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 0.5rem;
}

#order #order-container #buy-tickets #tickets .amount-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.5rem;
  border-left: 1px solid #343434;
}

#order #order-container #buy-tickets #tickets .amount-selector .minus, #order #order-container #buy-tickets #tickets .amount-selector .plus {
  cursor: pointer;
}

#order #order-container #buy-tickets #tickets .amount-selector .minus {
  padding-right: 0.2rem;
}

#order #order-container #buy-tickets #tickets .amount-selector .plus {
  padding-left: 0.2rem;
}

#order #order-container #buy-tickets .result span {
  font-weight: 700;
}

#order #order-container #buy-tickets #coupon {
  width: 130px;
  margin-left: 1rem;
}

#order #order-container #buy-tickets #coupon > p {
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #343434;
  border-top: none;
  padding: 0.25rem;
}

#order #order-container #buy-tickets #coupon > p span {
  border: 1px solid #343434;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  place-content: center;
}

#order #order-container #buy-tickets #coupon form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: .5s;
  transition: .5s;
}

#order #order-container #buy-tickets #coupon form.display {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#order #order-container #buy-tickets #coupon form input {
  margin-top: 1rem;
  outline: none;
  border: 1px solid #343434;
  padding: 0.25rem;
  text-transform: uppercase;
  height: 24px;
  font-size: 16px;
}

#order #order-container #buy-tickets #coupon form input::-webkit-input-placeholder {
  color: #343434;
}

#order #order-container #buy-tickets #coupon form button {
  cursor: pointer;
  border: none;
  color: #F5EFEF;
  background-color: #931A25;
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem 1rem;
  outline: none;
}

#order #order-container #buy-tickets #coupon form #success, #order #order-container #buy-tickets #coupon form #fail {
  font-size: 12px;
}

#order #order-container #select-seats .movice-container {
  margin: 20px 0;
}

#order #order-container #select-seats .movice-container select {
  background-color: black;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#order #order-container #select-seats .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#order #order-container #select-seats .seat {
  background-color: #343434;
  height: 24px;
  width: 30px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#order #order-container #select-seats .seat.selected {
  background-color: #52C78E;
}

#order #order-container #select-seats .seat.occupied {
  background-color: #931A25;
}

#order #order-container #select-seats .seat:nth-of-type(2) {
  margin-right: 18px;
}

#order #order-container #select-seats .seat:nth-last-of-type(2) {
  margin-left: 18px;
}

#order #order-container #select-seats .seat:not(.occupied):hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#order #order-container #select-seats .showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #777777;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#order #order-container #select-seats .showcase.seat:not(.occupied):hover {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#order #order-container #select-seats .showcase li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

#order #order-container #select-seats .showcase li small {
  margin-left: 2px;
}

#order #order-container #select-seats .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#order #order-container #select-seats .screen {
  background-color: #343434;
  height: 150px;
  width: 90%;
  margin: .5rem 0;
  -webkit-transform: rotateX(240deg);
          transform: rotateX(240deg);
  -webkit-box-shadow: 0px 5px 10px 2px #343434;
          box-shadow: 0px 5px 10px 2px #343434;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#order #order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#order #order-info > div {
  width: 400px;
}

#order #order-info > div:first-of-type form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#order #order-info > div:first-of-type form div:first-of-type input {
  margin: 0;
  border-top: none;
}

#order #order-info > div:first-of-type form input {
  margin-top: 0.5rem;
  outline: none;
  border: 1px solid #343434;
  padding: 0.25rem;
  text-transform: uppercase;
  height: 24px;
  font-size: 16px;
}

#order #order-info > div:first-of-type form input::-webkit-input-placeholder {
  color: #343434;
}

#order #order-info > div:first-of-type form button {
  cursor: pointer;
  border: none;
  color: #F5EFEF;
  background-color: #931A25;
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem 1rem;
  outline: none;
  margin-top: 0.5rem;
}

#order #order-info > div:last-of-type .info-container {
  margin: 1rem 0;
}

#order #order-info > div:last-of-type .info-container:first-of-type {
  margin-top: 0.5rem;
}

#order #order-info > div:last-of-type .info-container:last-of-type {
  margin-bottom: 0;
}

#order #order-info > div:last-of-type .info-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #343434;
}

#order #order-info > div:last-of-type .info-container > div:first-of-type {
  border-top: 2px solid #343434;
}

#order #order-info > div:last-of-type .info-container > div:last-of-type {
  border-bottom: 2px solid #343434;
}

#order #order-info > div:last-of-type #name, #order #order-info > div:last-of-type #movie {
  text-transform: capitalize;
}

.active {
  background-color: #52C78E;
}

body {
  overflow-x: hidden;
}

#order > div {
  position: relative;
  margin: 2rem 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#order > div > section {
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
}

#order > div > section.hide-left {
  position: absolute;
  top: 0%;
  left: -150%;
}

#order > div > section.middle {
  position: absolute;
  top: 0%;
  left: 0%;
}

#order > div > section.hide-right {
  position: absolute;
  top: 0;
  left: 150%;
}

@media only screen and (max-width: 768px) {
  #order-container > article {
    width: 100%;
  }
  #order-container #select-seats .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #movie-img img {
    width: 100%;
  }
  #order h1 {
    font-size: 35px;
  }
  #buy-tickets {
    margin: 2rem 0;
  }
  #buy-tickets #payment-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #buy-tickets #payment-container > div {
    width: 49%;
  }
  #buy-tickets #payment-container > div #tickets > div {
    width: 100% !important;
  }
  #buy-tickets #payment-container > div #coupon {
    width: 100% !important;
    margin-left: 0 !important;
  }
  #order #order-info > div {
    width: 100%;
  }
  #order #order-info > div:first-of-type {
    margin-bottom: 2rem;
  }
  #order #order-container #select-seats .seat {
    width: 16.5px;
    height: 13.2px;
  }
}

#buy-btn {
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
  border: none;
  color: #F5EFEF;
  background-color: #931A25;
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem 1rem;
  outline: none;
}

.disable-click {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  pointer-events: none;
}
