* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 16px;
}

.navbar {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 0.8s cubic-bezier(0.42, 0.01, 0.57, 0.99);
  transition: right 0.8s cubic-bezier(0.42, 0.01, 0.57, 0.99);
  z-index: 30;
}

.change {
  right: 0;
}

.logo {
  height: 50px;
  position: fixed;
  top: 35px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger-menu {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 45px;
  right: 60px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-bg {
  height: 120px;
  width: 100%;
  opacity: 0.7;
  position: fixed;
  background-color: black;
  z-index: 20;
}

.line {
  width: 100%;
  height: 3px;
  background: #f5efef;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.change .line1 {
  -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
          transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
          transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-list {
  text-align: center;
}

.nav-item {
  list-style: none;
  margin: 35px;
}

.nav-link {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: #eee;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: '';
  width: 100%;
  height: 3px;
  background: #931a25;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.nav-link::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-link::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hero {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.hero .hero-img {
  width: 100%;
}

.section-img {
  position: absolute;
  top: 92vh;
  left: 0;
  width: 100%;
}

.hero-circle {
  position: absolute;
  top: 20%;
  right: 55%;
  color: white;
  z-index: 4;
  border-radius: 50%;
  background-color: rgba(147, 26, 37, 0.5);
  height: 500px;
  width: 500px;
}

.hero-circle2 {
  position: absolute;
  top: 45%;
  right: 48%;
  color: white;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(245, 239, 239, 0.5);
  height: 300px;
  width: 300px;
}

.hero-content {
  margin: 6%;
  margin-top: 35%;
}

.hero-content button {
  background-color: transparent;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #f5efef;
  color: #f5efef;
  text-transform: uppercase;
  margin-left: 35%;
  margin-top: 5%;
  font-weight: bold;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #f5efef;
  color: #931a25;
  border-color: transparent;
}

.hero-content h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.highlight-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #931a25;
}

.highlight-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-top: 5%;
  text-decoration: underline;
  text-transform: uppercase;
}

.senior-section-info {
  width: 100%;
  height: 600px;
  background-color: #343434;
}

.arrspec-section {
  width: 100%;
  height: 100vh;
  background-color: #f5efef;
}

.footer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 30% 30%;
      grid-template-columns: 40% 30% 30%;
  height: 400px;
  width: 100%;
  background-color: #343434;
}

.footer-logo {
  margin: 5%;
  margin-top: 10%;
  background-color: transparent;
}

.footer-contact {
  background-color: transparent;
  margin: 5%;
}

.footer-about {
  background-color: transparent;
  margin: 5%;
}

.footer-link {
  list-style: none;
  color: #f5efef;
}

.footer-header {
  color: #f5efef;
}

@media (max-device-width: 667px) {
  .nav-link {
    font-size: 24px;
  }
  .hero {
    height: 375px;
  }
  .hero .hero-img {
    width: 375px;
    height: 375px;
    overflow: hidden;
  }
  .section-img {
    position: absolute;
    top: 355px;
    width: 100%;
  }
  .hero-circle {
    position: absolute;
    top: 15%;
    right: 20%;
    color: white;
    z-index: 4;
    border-radius: 50%;
    background-color: rgba(147, 26, 37, 0.5);
    height: 200px;
    width: 200px;
  }
  .hero-circle2 {
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;
    z-index: 3;
    border-radius: 50%;
    background-color: rgba(245, 239, 239, 0.5);
    height: 100px;
    width: 100px;
  }
  .hero-content {
    margin: 1%;
    margin-top: 35%;
  }
  .hero-content button {
    background-color: transparent;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 25%;
    margin-top: 5%;
  }
  .hero-content button p {
    font-size: 10px;
  }
  .hero-content h1 {
    margin-left: 5%;
    font-size: 16px;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: 700px;
  }
  .footer-link p {
    font-size: 14px;
  }
  .footer-header {
    font-size: 24px;
  }
}
