* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 16px;
}

button {
  cursor: pointer;
}

.hero {
  height: 100vh;
  background-image: url(/img/Biografen_Grand_Stockholm.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-img {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.hero-circle {
  position: absolute;
  top: 20%;
  right: 55%;
  color: white;
  z-index: 4;
  border-radius: 50%;
  background-color: rgba(147, 26, 37, 0.5);
  height: 500px;
  width: 500px;
}

.hero-circle2 {
  position: absolute;
  top: 45%;
  right: 48%;
  color: white;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(245, 239, 239, 0.5);
  height: 300px;
  width: 300px;
}

.hero-content {
  margin: 6%;
  margin-top: 35%;
}

.hero-content button {
  background-color: transparent;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #f5efef;
  color: #f5efef;
  text-transform: uppercase;
  margin-left: 35%;
  margin-top: 5%;
  font-weight: bold;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #f5efef;
  color: #931a25;
  border-color: transparent;
}

.hero-content h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.highlight-section {
  position: relative;
  width: 100%;
  height: 1050px;
  background-color: #931a25;
  display: -ms-grid;
  display: grid;
}

.highlight-section button {
  width: 15%;
  font-size: 32px;
  font-weight: bolder;
  margin: auto;
  padding: 10px;
  color: #343434;
  background-color: #f5efef;
  border: none;
  margin-bottom: 3%;
}

.highlight-section button:hover {
  color: #f5efef;
  background-color: #343434;
}

.highlight-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 5%;
  text-decoration: underline;
  text-transform: uppercase;
}

.highlight-films {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.highlight-film {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.highlight-film img {
  height: 400px;
}

.highlight-film button {
  width: 70%;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  margin: auto;
  margin-top: 20px;
  border: none;
  color: #343434;
  background-color: #f5efef;
}

.highlight-film button:hover {
  color: #f5efef;
  background-color: #343434;
}

.section-line {
  height: 3px;
  width: 80%;
  background-color: #f5efef;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.senior-section-info {
  width: 100%;
  height: 600px;
  background-color: #343434;
}

#senior {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#senior button {
  margin-left: 15%;
  margin-top: 8%;
  padding: 10px;
  width: 120px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  color: #343434;
  background-color: #f5efef;
}

#senior button:hover {
  color: #f5efef;
  background-color: #343434;
  border: 2px solid #f5efef;
}

.senior-info {
  display: -ms-grid;
  display: grid;
  color: #f5efef;
  margin-left: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrspec-section {
  width: 100%;
  height: 100vh;
  background-color: #f5efef;
  display: -ms-grid;
  display: grid;
  padding-top: 80px;
  -ms-grid-columns: 48% 4px 48%;
      grid-template-columns: 48% 4px 48%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.arrspec-article {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: 400px;
}

.arrspec-article button {
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  margin: auto;
  margin-top: 20px;
  border: none;
  color: #f5efef;
  background-color: #343434;
}

.arrspec-article button:hover {
  color: #343434;
  background-color: #f5efef;
  border: 2px solid #343434;
}

.arrspec-article img {
  margin-top: 10%;
}

.arrspec-middle {
  height: 70%;
  width: 3px;
  background-color: #343434;
  margin-top: 150px;
}

.arrspec-header {
  color: #343434;
  margin: auto;
}

.arrspec-text {
  height: 300px;
  margin-top: 10%;
}

.arrspec-text h3 {
  color: #931a25;
  margin: auto;
  width: 80%;
  font-size: 36px;
}

.arrspec-text p {
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

@media (max-device-width: 667px) {
  .nav-link {
    font-size: 24px;
  }
  .hero {
    height: 375px;
  }
  .section-img {
    position: absolute;
    top: 355px;
    width: 100%;
  }
  .hero-circle {
    position: absolute;
    top: 15%;
    right: 20%;
    color: white;
    z-index: 4;
    border-radius: 50%;
    background-color: rgba(147, 26, 37, 0.5);
    height: 200px;
    width: 200px;
  }
  .hero-circle2 {
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;
    z-index: 3;
    border-radius: 50%;
    background-color: rgba(245, 239, 239, 0.5);
    height: 100px;
    width: 100px;
  }
  .hero-content {
    margin: 1%;
    margin-top: 35%;
  }
  .hero-content button {
    background-color: transparent;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 25%;
    margin-top: 5%;
  }
  .hero-content button p {
    font-size: 10px;
  }
  .hero-content h1 {
    margin-left: 5%;
    font-size: 16px;
  }
  .highlight-section {
    position: relative;
    width: 100%;
    height: 1400px;
    background-color: #931a25;
    display: -ms-grid;
    display: grid;
  }
  .highlight-section button {
    width: 40%;
    height: 45px;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 8px;
    color: #f5efef;
    background-color: #343434;
    border: 1px solid #f5efef;
    margin-bottom: 50px;
  }
  .highlight-section button:hover {
    color: #343434;
    background-color: #f5efef;
  }
  .highlight-header {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    padding: 5%;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .highlight-header h3 {
    font-size: 24px;
  }
  .highlight-films {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .highlight-film {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .highlight-film img {
    height: 300px;
  }
  .highlight-film button {
    width: 70%;
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    color: #343434;
    background-color: #f5efef;
  }
  .highlight-film button:hover {
    color: #f5efef;
    background-color: #343434;
  }
  .section-line {
    height: 3px;
    width: 80%;
    background-color: #f5efef;
    margin: auto;
    margin-top: 30px;
  }
  .senior-section-info {
    height: 500px;
  }
  #senior {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .senior-info {
    display: -ms-grid;
    display: grid;
    color: #f5efef;
    margin-left: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
  .senior-info .senior-header {
    font-size: 24px;
  }
  .senior-info .senior-text {
    font-size: 16px;
    margin-top: 5%;
  }
  .arrspec-section {
    width: 100%;
    height: 1300px;
    background-color: #f5efef;
    display: -ms-grid;
    display: grid;
    padding-top: 80px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .arrspec-article {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    height: 400px;
  }
  .arrspec-article button {
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
    margin-top: 50px;
    border: none;
    color: #f5efef;
    background-color: #343434;
  }
  .arrspec-article button:hover {
    color: #343434;
    background-color: #f5efef;
    border: 2px solid #343434;
  }
  .arrspec-article img {
    margin-top: 10%;
    width: 90%;
  }
  .arrspec-middle {
    height: 3px;
    width: 70%;
    background-color: #343434;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .arrspec-header {
    color: #343434;
    margin: auto;
  }
  .arrspec-header h2 {
    font-size: 24px;
  }
  .arrspec-text {
    height: 200px;
    margin-top: 10%;
  }
  .arrspec-text h3 {
    color: #931a25;
    margin: auto;
    width: 80%;
    font-size: 20px;
  }
  .arrspec-text p {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    font-size: 16px;
  }
}
