* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 16px;
}

.navbar {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 0.8s cubic-bezier(0.42, 0.01, 0.57, 0.99);
  transition: right 0.8s cubic-bezier(0.42, 0.01, 0.57, 0.99);
  z-index: 30;
}

.change {
  right: 0;
}

.logo {
  height: 50px;
  position: fixed;
  top: 35px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger-menu {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 45px;
  right: 60px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-bg {
  height: 120px;
  width: 100%;
  opacity: 0.7;
  position: fixed;
  background-color: black;
  z-index: 20;
}

.line {
  width: 100%;
  height: 3px;
  background: #f5efef;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.change .line1 {
  -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
          transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
          transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-list {
  text-align: center;
}

.nav-item {
  list-style: none;
  margin: 35px;
}

.nav-link {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: #eee;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: '';
  width: 100%;
  height: 3px;
  background: #931a25;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.nav-link::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-link::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 30% 30%;
      grid-template-columns: 40% 30% 30%;
  height: 411px;
  width: 100%;
  background-color: #343434;
}

.footer-logo {
  margin: 5%;
  margin-top: 10%;
  background-color: transparent;
}

.footer-contact {
  background-color: transparent;
  margin: 5%;
}

.footer-about {
  background-color: transparent;
  margin: 5%;
}

.footer-link {
  list-style: none;
  color: #f5efef;
}

.footer-header {
  color: #f5efef;
}

@media (max-device-width: 667px) {
  .nav-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: 700px;
  }
  .footer-link p {
    font-size: 14px;
  }
  .footer-header {
    font-size: 24px;
  }
}
