* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 16px;
}

button {
  cursor: pointer;
}

.salene-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding-top: 120px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #343434;
  width: 80%;
  height: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.salene-article {
  width: 100%;
}

.salene-article img {
  width: 100%;
}
