body {
  background-color: #F5EFEF;
}

.main.choosen {
  padding-top: 140px;
  position: relative;
  padding-bottom: 40px;
}

.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/Poster-Trash.jpg");
}

.film-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 40px;
}

.film-sec .desc-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-sec .desc-container .post-title {
  margin-bottom: 15px;
  font-size: 25px;
  color: #931A25;
  text-transform: uppercase;
}

.film-sec .poster-container {
  margin-right: 120px;
}

.film-sec .poster-container .poster {
  width: 350px;
}

.film-sec .poster-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-sec .poster-container .btn-container .order-btn {
  display: block;
  width: 175px;
  border: solid grey 1px;
  background-color: #931A25;
  padding: 4px 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.film-sec .poster-container .btn-container .order-btn a,
.film-sec .poster-container .btn-container .order-btn a:link,
.film-sec .poster-container .btn-container .order-btn a:visited {
  color: #fff;
  text-decoration: none;
}

.film-sec .poster-container .btn-container .btn-right {
  background-color: #fff;
}

.film-sec .poster-container .btn-container .btn-right a,
.film-sec .poster-container .btn-container .btn-right a:link,
.film-sec .poster-container .btn-container .btn-right a:visited {
  color: #333;
  text-decoration: none;
}

.trailer-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.trailer-sec .video-source {
  max-width: 900px;
}

.trailer-sec .trailer-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.trailer-sec .trailer-title::after {
  display: block;
  content: '';
  width: 250px;
  height: 2px;
  background: black;
  position: absolute;
  bottom: 0;
  left: -25%;
}

@media (max-width: 900px) {
  body {
    background-color: black;
  }
  .overlay {
    opacity: 0.3;
  }
  .film-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .film-sec .desc-container {
    color: #fff;
  }
  .film-sec .desc-container .post-desc {
    padding-top: 40px;
  }
  .btn-container .order-btn {
    width: 120px !important;
  }
  .poster-container {
    margin-right: 0;
  }
  .poster-container .poster {
    display: none;
  }
  .trailer-sec {
    color: #931A25;
  }
  .trailer-sec .trailer-title {
    font-size: 32px;
  }
  .trailer-sec .trailer-title::after {
    background: #931A25;
    height: 1px;
    left: -60px;
  }
  .trailer-sec .video-source {
    max-width: 90%;
  }
}
