//DESIGN 

$color-red: #931a25;
$color-white: #f5efef;
$color-dark: #343434;
$h1-size: 40px;
$h2-size: 60px;
$h3-size: 50px;
$p-size: 16px;
$anchor-size: 40px;
$border-shadows: 5px 5px 10px #00000030;
$section-border: 3px solid;


* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

p {
    font-size: $p-size;
}

button {
    cursor: pointer;
}

// HERO --------------------------------------------------------------------------------
.hero {
    height: 100vh;
    background-image: url(/img/Biografen_Grand_Stockholm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.section-img {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
}

.hero-circle {
    position: absolute;
    top: 20%;
    right: 55%;
    color: white;
    z-index: 4;
    border-radius: 50%;
    background-color: rgba(147, 26, 37, 0.5) ;
    height: 500px;
    width: 500px;
}

.hero-circle2 {
    position: absolute;
    top: 45%;
    right: 48%;
    color: white;
    z-index: 3;
    border-radius: 50%;
    background-color: rgba(245, 239, 239, 0.5) ;
    height: 300px;
    width: 300px;
}

.hero-content {
    margin: 6%;
    margin-top: 35%;

    button {
        background-color: transparent;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border: 2px solid $color-white;
        color: $color-white;
        text-transform: uppercase;
        margin-left: 35%;
        margin-top: 5%;
        font-weight: bold;
        cursor: pointer;
    }

    button:hover {
        background-color: $color-white;
        color: $color-red;
        border-color: transparent
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
}



// MAIN CONTENT ------------------------------------------------------------------------
.highlight-section {
    position: relative;
    width: 100%;
    height: 1050px;
    background-color: $color-red;
    display: grid;

    button {
        width: 15%;
        font-size: 32px;
        font-weight: bolder;
        margin: auto;
        padding: 10px;
        color: $color-dark;
        background-color: $color-white;
        border: none;
        margin-bottom: 3%;
    }

    button:hover {
        color: $color-white;
        background-color: $color-dark;
    }
}

.highlight-header {
    display: grid;
    justify-content: center;
    color: white;
    padding: 5%;
    text-decoration: underline;
    text-transform: uppercase;
    
}

.highlight-films {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.highlight-film {
    display: grid;
    grid-template-rows: auto auto;
    
    img {
        height: 400px;
    }
    button {
        width: 70%;
        padding: 10px;
        font-size: 20px;
        font-weight: bolder;
        margin: auto;
        margin-top: 20px;
        border: none;
        color: $color-dark;
        background-color: $color-white;
    }

    button:hover {
        color: $color-white;
        background-color: $color-dark;
    }
}

.section-line {
    height: 3px;
    width: 80%;
    background-color: $color-white;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.senior-section-info {
    width: 100%;
    height: 600px;
    background-color: $color-dark;
}
#senior {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    
    button {
        margin-left: 15%;
        margin-top: 8%;
        padding: 10px; 
        width: 120px;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bolder;
        border: none;
        color: $color-dark;
        background-color: $color-white;
    }

    button:hover {
        color: $color-white;
        background-color: $color-dark;
        border: 2px solid $color-white;
    }
}

.senior-info {
    display: grid;
    color: $color-white;
    margin-left: 10%;
    justify-content: center;
}


//ARRSPEC SECTION 

.arrspec-section {
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    display: grid;
    padding-top: 80px;
    grid-template-columns: 48% 4px 48%;
    justify-content: space-evenly;
}

.arrspec-article {
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
    height: 400px;

    button {
        padding: 10px;
        font-size: 20px;
        font-weight: bolder;
        margin: auto;
        margin-top: 20px;
        border: none;
        color: $color-white;
        background-color: $color-dark
    }

    button:hover {
        color: $color-dark;
        background-color: $color-white;
        border: 2px solid $color-dark;
    }
    img {
        margin-top: 10%;
    }
}
.arrspec-middle {
    height: 70%;
    width: 3px;
    background-color: $color-dark;
    margin-top: 150px;
}


.arrspec-header {
    color: $color-dark;
    margin: auto;
    
}

.arrspec-text {
height: 300px;
margin-top: 10%;
    h3 {
        color: $color-red;
        margin: auto;
        width: 80%;
        font-size: 36px;
    }

    p {
        margin: auto;
        margin-top: 50px;
        width: 80%;
    }
}



//MEDIA QUERIES ------------------------------------------------------------------------

@media (max-device-width: 667px) {
    
    // Header / Navbar -----------------
    .nav-link {
        font-size: 24px;
    }

    .hero {
        height: 375px;
    }

    .section-img {
    position: absolute;
    top: 355px;
    width: 100%;
}

    .hero-circle {
        position: absolute;
        top: 15%;
        right: 20%;
        color: white;
        z-index: 4;
        border-radius: 50%;
        background-color: rgba(147, 26, 37, 0.5) ;
        height: 200px;
        width: 200px;
    }
    
    .hero-circle2 {
        position: absolute;
        top: 30%;
        right: 10%;
        color: white;
        z-index: 3;
        border-radius: 50%;
        background-color: rgba(245, 239, 239, 0.5) ;
        height: 100px;
        width: 100px;
    }

    .hero-content {
        margin: 1%;
        margin-top: 35%;
    
        button {
            background-color: transparent;
            padding: 2px;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 25%;
            margin-top: 5%;

            p {
                font-size: 10px;
            }
        }

        h1 {
            margin-left: 5%;
            font-size: 16px;
        }
    }
    //HIGHLIGHT ----------------------------------

    .highlight-section {
        position: relative;
        width: 100%;
        height: 1400px;
        background-color: $color-red;
        display: grid;
    
        button {
            width: 40%;
            height: 45px;
            font-size: 18px;
            font-weight: bolder;
            margin-top: 20px;
            padding: 8px;
            color: $color-white;
            background-color: $color-dark;
            border: 1px solid $color-white;
            margin-bottom: 50px;
        }
    
        button:hover {
            color: $color-dark;
            background-color: $color-white;
        }
    }
    
    .highlight-header {
        display: grid;
        justify-content: center;
        color: white;
        padding: 5%;
        text-decoration: underline;
        text-transform: uppercase;
        
        h3 {
            font-size: 24px;
        }
    }
    
    .highlight-films {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
    }
    
    .highlight-film {
        display: grid;
        grid-template-rows: auto auto;
        
        img {
            height: 300px;
        }
        button {
            width: 70%;
            padding: 5px;
            font-size: 16px;
            font-weight: bolder;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border: none;
            color: $color-dark;
            background-color: $color-white;
        }
    
        button:hover {
            color: $color-white;
            background-color: $color-dark;
        }
    }
    
    .section-line {
        height: 3px;
        width: 80%;
        background-color: $color-white;
        margin: auto;
        margin-top: 30px;
    }

    .senior-section-info {
        height: 500px;
    }
    #senior {
        grid-template-columns: auto;
    }

    .senior-info {
        display: grid;
        color: $color-white;
        margin-left: 10%;
        justify-content: center;
        height: 300px;

        .senior-header {
            font-size: 24px;
        }

        .senior-text {
            font-size: 16px;
            margin-top: 5%;
        }

    }
    
    .arrspec-section {
        width: 100%;
        height: 1300px;
        background-color: $color-white;
        display: grid;
        padding-top: 80px;
        grid-template-columns: auto;
        justify-content: space-evenly;
    }

    .arrspec-article {
        display: grid;
        justify-items: center;
        grid-template-rows: auto;
        height: 400px;
    
        button {
            padding: 10px;
            font-size: 20px;
            font-weight: bolder;
            margin: auto;
            margin-top: 50px;
            border: none;
            color: $color-white;
            background-color: $color-dark
        }
    
        button:hover {
            color: $color-dark;
            background-color: $color-white;
            border: 2px solid $color-dark;
        }
        img {
            margin-top: 10%;
            width: 90%;
        }
    }
    .arrspec-middle {
        height: 3px;
        width: 70%;
        background-color: $color-dark;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    
    .arrspec-header {
        color: $color-dark;
        margin: auto;

        h2 {
            font-size: 24px;
        }
        
    }
    
    .arrspec-text {
    height: 200px;
    margin-top: 10%;
        h3 {
            color: $color-red;
            margin: auto;
            width: 80%;
            font-size: 20px;
        }
    
        p {
            margin: auto;
            margin-top: 50px;
            width: 80%;
            font-size: 16px;
        }
    }
}