//DESIGN 

$color-red: #931a25;
$color-white: #f5efef;
$color-dark: #343434;
$h1-size: 40px;
$h2-size: 60px;
$h3-size: 50px;
$p-size: 16px;
$anchor-size: 40px;
$border-shadows: 5px 5px 10px #00000030;
$section-border: 3px solid;


* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

p {
    font-size: $p-size;
}

// HEADER / NAV BAR -------------------------------------------------------------------

.navbar {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(.42,.01,.57,.99);
    z-index: 30;
}

.change {
    right: 0;
}

.logo {
    height: 50px;
    position: fixed;
    top: 35px;
    left: 50px;
    display: flex;
}

.hamburger-menu {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 45px;
    right: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-bg {
    height: 120px;
    width: 100%;
    opacity: 0.4;
    position: fixed;
    background-color: black;
    z-index: 20;
}

.line {
    width: 100%;
    height: 3px;
    background: $color-white;
    transition: all 0.8s;
}

.change .line1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotateZ(45deg) translate(-8px, -6px);;
}
.nav-list {
    text-align: center;
    
}

.nav-item {
    list-style: none;
    margin: 35px;
}

.nav-link {
    text-decoration: none;
    font-size: $anchor-size;
    font-weight: bold;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
    
}

.nav-link::before, 
.nav-link::after {
    content: '';
    width: 100%;
    height: 3px;
    background: $color-red;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before, 
.nav-link:hover::after {
    transform: scaleX(1);
}

// HERO --------------------------------------------------------------------------------
.hero {
    img {
        width: 100%;
    }
}

.hero-circle {
    position: absolute;
    top: 20%;
    right: 55%;
    color: white;
    z-index: 4;
    border-radius: 50%;
    background-color: rgba(147, 26, 37, 0.5) ;
    height: 500px;
    width: 500px;
}

.hero-circle2 {
    position: absolute;
    top: 45%;
    right: 48%;
    color: white;
    z-index: 3;
    border-radius: 50%;
    background-color: rgba(245, 239, 239, 0.5) ;
    height: 300px;
    width: 300px;
}

.hero-content {
    margin: 6%;
    margin-top: 35%;

    button {
        background-color: transparent;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border: 2px solid $color-white;
        color: $color-white;
        text-transform: uppercase;
        margin-left: 35%;
        margin-top: 5%;
        font-weight: bold;
        cursor: pointer;
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.section-border {
    position: absolute;
    top: 863px;
    height: auto;
    img {
        width: 100%;  
      
    }
}

// MAIN CONTENT ------------------------------------------------------------------------
.highlight-section {
    width: 100%;
    height: 100vh;
    background-color: $color-red;
}


// FOOTER ------------------------------------------------------------------------------

.footer {
//position
    position: relative;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    height: 400px;
    width: 100%;

//Style 
    background-color: $color-dark;
}

.footer-logo {
    margin: 5%;
    margin-top: 10%;
    background-color: transparent;
}

.footer-contact {
    background-color: transparent;
    margin: 5%;
}

.footer-about {
    background-color: transparent;
    margin: 5%;
}

.footer-link {
    list-style: none;
    color: $color-white;
}

.footer-header {
    color: $color-white;
}
//MEDIA QUERIES ------------------------------------------------------------------------

@media (max-device-width: 667px) {
    
    // Header / Navbar -----------------
    .nav-link {
        font-size: 24px;
    }

    .hero {
        img {
            width: 375px;
            height: 375px;
            overflow: hidden;
        }
    }

    .hero-circle {
        position: absolute;
        top: 15%;
        right: 20%;
        color: white;
        z-index: 4;
        border-radius: 50%;
        background-color: rgba(147, 26, 37, 0.5) ;
        height: 200px;
        width: 200px;
    }
    
    .hero-circle2 {
        position: absolute;
        top: 30%;
        right: 10%;
        color: white;
        z-index: 3;
        border-radius: 50%;
        background-color: rgba(245, 239, 239, 0.5) ;
        height: 100px;
        width: 100px;
    }

    .hero-content {
        margin: 1%;
        margin-top: 35%;
    
        button {
            background-color: transparent;
            padding: 2px;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 25%;
            margin-top: 5%;

            p {
                font-size: 10px;
            }
        }

        h1 {
            margin-left: 5%;
            font-size: 16px;
        }
    }
    
    .section-border {
        position: absolute;
        top: 370px;
        z-index: 10;
        img {
            width: 100%;  
            height: 100%;
        }
    }

    // Footer --------------------------
    .footer {
        display: grid;
        grid-template-columns: auto;
        height: 700px;
    }

    .footer-link {

        p {
            font-size: 14px;
        }
    }

    .footer-header {
        font-size: 24px;
    }
}