//DESIGN 

$color-red: #931a25;
$color-white: #f5efef;
$color-dark: #343434;
$h1-size: 40px;
$h2-size: 60px;
$h3-size: 50px;
$p-size: 30px;
$anchor-size: 40px;
$border-shadows: 5px 5px 10px #00000030;
$section-border: 3px solid;


* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

p {
    font-size: $p-size;
}

// HEADER / NAV BAR -------------------------------------------------------------------

.navbar {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(.42,.01,.57,.99);
    z-index: 30;
}

.change {
    right: 0;
}

.logo {
    height: 50px;
    position: fixed;
    top: 35px;
    left: 50px;
    display: flex;
}

.hamburger-menu {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 45px;
    right: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-bg {
    height: 120px;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    background-color: black;
}

.line {
    width: 100%;
    height: 3px;
    background: $color-white;
    transition: all 0.8s;
}

.change .line1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotateZ(45deg) translate(-8px, -6px);;
}
.nav-list {
    text-align: center;
    
}

.nav-item {
    list-style: none;
    margin: 35px;
}

.nav-link {
    text-decoration: none;
    font-size: $anchor-size;
    font-weight: bold;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
    
}

.nav-link::before, 
.nav-link::after {
    content: '';
    width: 100%;
    height: 3px;
    background: $color-red;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before, 
.nav-link:hover::after {
    transform: scaleX(1);
}


//FOOTER -------------------------------------------------------------------------------

.footer {
//position
    display: grid;
    grid-template-columns: 40% 30% 30%;
    position: absolute;
    height: 500px;
    width: 100%;
    bottom: 0;
//Style 
    background-color: $color-dark;
}

.footer-logo {
    margin: 5%;
    margin-top: 10%;
    background-color: transparent;
}

.footer-contact {
    background-color: transparent;
    margin: 5%;
}

.footer-about {
    background-color: transparent;
    margin: 5%;
}

.footer-link {
    list-style: none;
    color: $color-white;
    
    p {
        font-size: 24px;
    }
}

.footer-header {
    color: $color-white;
}
//MEDIA QUERIES ------------------------------------------------------------------------

@media (max-device-width: 667px) {
    
    // Header / Navbar -----------------
    .nav-link {
        font-size: 24px;
    }

    .footer {
        display: grid;
        grid-template-columns: auto;
        height: 700px;
    }

    .footer-link {

        p {
            font-size: 14px;
        }
    }

    .footer-header {
        font-size: 24px;
    }
}