$color-red: #931a25;
$color-white: #f5efef;
$color-dark: #343434;
$h1-size: 40px;
$h2-size: 60px;
$h3-size: 50px;
$p-size: 16px;
$anchor-size: 40px;
$border-shadows: 5px 5px 10px #00000030;
$section-border: 3px solid;


* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

p {
    font-size: $p-size;
}

button {
    cursor: pointer;
}


// SALENE 

.salene-container {
    display: grid;
    grid-template-columns: auto;
    padding-top: 120px;
    margin-right: 15%;
    margin-left: 15%;
    
    width: 70%;
    justify-content: center;

    h2 {
        text-transform: uppercase;
        margin-bottom: 10%;
    }
}


.salene-article {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10%;
    h3 {
        color: $color-red;
        margin-top: 2%;
    }
    p {
        margin-top: 2%;
        width: 80%;
    }
    img {
       width: 100%;
    }
}

.salene-line {
    height: 3px;
    width: 100%;
    background-color: $color-dark;
   margin-bottom: 10%;
}


@media (max-device-width: 667px) { 
    
    .salene-article {
        width: 100%;
        display: grid;
        justify-content: center;
        justify-items: center;
        margin-bottom: 10%;
        h3 {
            color: $color-red;
            margin-top: 2%;
            font-size: 18px;
        }
        p {
            margin-top: 2%;
            width: 80%;
            font-size: 12px;
        }
        img {
           width: 100%;
        }
    }

}