body {
    background-color: #F5EFEF;
}

main {
    padding-top: 140px;
    position: relative;
    padding-bottom: 40px;
}
.overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/Poster-Trash.jpg");
}
.film-sec { 
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 40px;
    .desc-container {
        align-items: center;
        .post-title {
            margin-bottom: 15px;
            font-size: 25px;
            color: #931A25;
            text-transform: uppercase;
        }
    }
    .poster-container{
        margin-right: 120px;
        .poster {
            width: 350px;
        }
        .btn-container {
            display: flex;
            margin-top: 15px;
            justify-content: center;
            align-items: center;
            .order-btn {
                display: block;
                    width: 175px;
                    border: solid grey 1px;
                    background-color: #931A25;
                    padding: 4px 10px;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 500;
                    cursor: pointer;
                    text-align: center;
                    a,
                    a:link,
                    a:visited {
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .btn-right {
                    background-color: #fff;
                    a,
                    a:link,
                    a:visited {
                        color: #333;
                        text-decoration: none;
                    }
                }
        }        
    }
}
.trailer-sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .video-source {
        max-width: 900px;
    }
    .trailer-title {
        position: relative;
        display: flex;
        text-transform: uppercase;
        font-size: 42px;
        font-weight: bolder;
        margin-bottom: 15px;
        &::after {
            display: block;
            content: '';
            width: 250px;
            height: 2px;
            background: black;
            position: absolute;
            bottom: 0;
            left: -25%;
        }
        
    } 
}
    


@media (max-width: 900px) {
    body {
        background-color: black;
    }
    .overlay {
        opacity: 0.3;
    }
    .film-sec {
        flex-direction: column-reverse;
        align-items: flex-start;
        .desc-container {
            color: #fff;
            .post-desc {
                padding-top: 40px;
            }
        }
    }
    .btn-container {
        .order-btn {
            width: 120px !important;
        }
    }
        .poster-container{
            margin-right: 0;
        .poster {
            display: none;
        }
    }
    .trailer-sec {
        color: #931A25;
        .trailer-title {
            font-size: 32px;
            &::after {
                background: #931A25;
                height: 1px;
                left: -60px;
            }
        }
        .video-source {
            max-width: 90%;
        }
    }
}
